*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
}
.pagina{
    background-color: rgb(202, 204, 204);
    width: 100%;
    height: 100%;
}
.reloj{
    color: #ffffff;
    margin: 0 ;
    margin-right: 70px;
    margin-top: 60px;
    position: absolute;
    font-size: 25px;
    font-family: Arial;
}
.dia{
    color: #ffffff;
    margin: 0;
    margin-right: 70px;
    margin-top: 30px;
    position: absolute;
    font-size: 25px;
    font-family: Arial;
}
.rectangulo_encabezado{
    margin: 0;
    position: absolute;
    background-color: #0a6e0e;
    width: 100%;
    height: 130px;
    box-shadow: 0 .5vw #999;
}
.Titulo{
    color: rgb(255, 255, 255);
    font-family: Arial Black; 
    text-align: center;
    font-size: 40px;
    text-shadow: .1vw 0 #000, 0 .1vw #000, .1vw 0 #000, 0 .1vw #000;
    position: relative;
    margin-top: 1%;
}
.Indicaciones{
    color: #fff;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    position: relative;
}
.BTNAgregar{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #0a6e0e;
    border: none;
    border-radius: 5vw;
    box-shadow: 0 .5vw #999;
    position: relative;
    width: 300px;
    height: 80px;
}
.BTNAgregar:hover{
    background-color: #024f05;
    animation: pulse 15s;
    outline-offset: 80px;
    text-shadow: 1px 1px 7px #fff;
    box-shadow: 0 .5vw #999;
  }
.BTNConsultar{
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #0a6e0e;
    border: none;
    border-radius: 5vw;
    box-shadow: 0 .5vw #999;
    position: relative;
    width: 300px;
    height: 80px;
}
.BTNConsultar:hover{
    background-color: #024f05;
    animation: pulse 15s;
    outline-offset: 80px;
    text-shadow: 1px 1px 7px #fff;
    box-shadow: 0 .5vw #999;
}

.BTNSalir{
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #0a6e0e;
    border: none;
    border-radius: 5vw;
    box-shadow: 0 .5vw #999;
    position: relative;
    width: 100px;
    height: 40px;
}
.BTNSalir:hover{
    background-color: #024f05;
    animation: pulse 15s;
    outline-offset: 80px;
    text-shadow: 1px 1px 7px #fff;
    box-shadow: 0 .5vw #999;
}
.separador{
    width: 100%;
    height: 200px;
}
@keyframes pulse{
    0%{
        box-shadow: 0 0 25px #ffffff, 0 0 50px #ffffff;
    }
}